
body {
    background-color: #808080;
}

 .square 
 {
     width: 150px;
     height: 150px;
     background-color: #fea500;
     margin-bottom: 10px;
     bottom: 300px;

 }

 h1 {
     color: white;
     
 }